header.siteHeader {
  // background-color: $color-primary-light;
  background-color: #1a202c;
  padding: .75rem 1rem .75rem 1rem;
  width: 100%;
  text-align: center;

  @include break(sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

img.siteLogo {
  height: 3rem;
}

.mobileMenuBox {
  display: block;

  @include break(sm) {
    display: none;
  }
}

.mobileMenu {
  display: block;

  color: #a0aec0;

  &__image {
    height: 3rem;
    width: 3rem;
    fill: currentColor;

    &--item {
      display: none;
    }

    &--item.show {
      display: block;
    }
  }

  &:hover  {
    color: white;
  }

  &:focus {
    color: white;
    outline: 0;;
  }
}

.menuLinkPanel {
  padding: 1rem .5rem 1rem .5rem;
  display: none;

  @include break(sm) {
    display: flex;
  }

  a.menuLink {
    display: block;
    color: white;
    font-weight: 600;
    border-radius: .25rem;

    @include break(sm) {
      margin-left: 1rem;
    }

    &:hover {
      background-color: #2d3748;
      color: #596dcf;
      outline: 0;
      box-shadow: 0 1px 0 0 currentColor;
    }
  }

  &.show {
    display: block;
  }
}
