header.siteHeader {
  // background-color: $color-primary-light;
  background-color: #1a202c;
  padding: .75rem 1rem;
  width: 100%;
  text-align: center;
  // min-height: 75px;
}

img.siteLogo {
  height: 3rem;
}

.mobileMenu {
  display: block;

  color: #a0aec0;

  &__image {
    height: 3rem;
    width: 3rem;
    fill: currentColor;
  }

  &:hover  {
    color: white;
  }

  &:focus {
    color: white;
    outline: 0;;
  }
}

.menuLinkPanel {
  padding: 1rem .5rem 1rem .5rem;
  display: none;

  a.menuLink {
    display: block;
    color: white;
    font-weight: 600;
    border-radius: .25rem;

    &:hover {
      background-color: #2d3748;
      color: #596dcf;
      outline: 0;
      box-shadow: 0 1px 0 0 currentColor;
    }
  }

  &.show {
    display: block;
  }
}

// header.siteHeader nav {
//   @include flex-row-wrap-space-between();
// }

// .siteHeader nav ul {
//   font-size: 2.75rem;
//   display: flex;
//   order: 1;
//   margin: 15px 0px 0px 0px;
//   list-style: none;
// }

// .siteHeader nav ul li:not(:last-child) {
//   padding-right: 15px;
// }

// .siteHeader nav ul li a {
//   text-decoration: none;
//   color: inherit;
//   background-color: transparent;
// }
